.head{
    width: 100%;
    background-image: url('head.jpg');
    background-position: center;
    background-size:cover ;
    height: 100%;
}
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0, 0.6);
}
.matter{
    left: 30%;
    position:absolute ;
    top: 45%;
    text-align: center;
}
