.head{
    width: 100%;
    background-image: url('head.jpg');
    background-position: center;
    background-size:cover ;
    height: 100%;
}
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0, 0.6);
}
.matter{
    left: 30%;
    position:absolute ;
    top: 40%;
    text-align: center;
}
.matter h1{
    color: #6ab446;
}
.matter p{
    color: #fff;
    font-size: medium;
    line-height: 1.5;
}
.matter button{
    border: 1px solid #6ab446 ;
    background: #6ab446;
    border: radius 25px;;
    color: #fff;
}
.features{
    margin: auto;
    padding: 1em;
    position: relative;
}
.btn{
    margin-top: 20px;
    background-color:#6ab446 ;
    border: 1px solid #6ab446;
color: #fff;
height: 10%;
width: 60%;
}

.fl{
    height: 64%;
}
.bg{
    background-color: rgb(174, 171, 150);
}
.d1{
    border-radius: 100%;
    position: relative;
    left: 15%;
}
.p1{
    position: relative;
    left:17.5% ;
}
.d2{
    border-radius: 100%;
    position: relative;
    left: 15%;
}
.p2{
    position: relative;
    left:17.5% ;
}
.d3{
    position: relative;
    margin-left:30%;
    margin-top: -17.5%;
    border-radius: 100%;
}
.p3{
    position: relative;
    left: 33%;
    margin-top: -5%;
}







